body html .root {
    height: 100%;
}

.playground {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.ball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}
